  
  button {
    margin: 0 10px 0 10px;
  }
  
  .input-bet form {
    display: flex;
    justify-content: center;
  }
  
  #blackjack h1 {
    text-align: center;
    font-size: 50px;
  }
  
  #blackjack p {
    text-align: center;
  }
  
  #blackjack .buttons {
    display: flex;
    justify-content: center;
  }
  
  #blackjack .card, .card-red {
    height: 150px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
   
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
  }
  
  #blackjack .card-red {
    color: red;
  }
  
  #blackjack .cards {
    margin: 0 auto;
  }
  
  #blackjack .input-bet {
    display: flex;
    justify-content: center;
  }