
.App {
  font-family: 'Lucida Sans Unicode';
  background: #4CA1AF;
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5);
  background: linear-gradient(to left, #4CA1AF , #C4E0E5);
  text-align: center;
  border: 1px solid grey;
  margin: auto;
  width: 100%;
  margin-top: 50px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.button {
  background-color: rgb(27, 136, 27);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}
.dice-image {
  margin: 10px;
}
.sum {
  font-size: 48px;
}

#promo {
  text-align: center;
  padding: 40px;
}

#promo .jumbotron {
  border-radius: 20px;
  background-color: rgba(222,232,235,0.75);
  max-width: 800px;
  margin: 0 auto;
}

.card, .card-red {
  /* padding: 0px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
  margin-top: 10px;
  border-radius: 0.6rem;
  
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125); */
  
}